<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eoh.mobile.eohapp"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Eoh" >
        <activity
            android:name="eoh.mobile.eohapp.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".exhibits.ExhibitInfoActivity"
            android:label="@string/exhibit_info"
            android:parentActivityName="eoh.mobile.eohapp.MainActivity"
            android:screenOrientation="portrait" >
        	<meta-data
            	android:name="android.support.PARENT_ACTIVITY"
            	android:value="eoh.mobile.eohapp.MainActivity" />
        </activity>
        
        <activity
            android:name=".food.RestaurantInfoActivity"
            android:label="@string/restaurant_info"
            android:parentActivityName="eoh.mobile.eohapp.MainActivity"
            android:screenOrientation="portrait" >
        	<meta-data
            	android:name="android.support.PARENT_ACTIVITY"
            	android:value="eoh.mobile.eohapp.MainActivity" />
        </activity>
    </application>

</manifest>
